body, header, nav, ul, li, h1, h2, p, nav, hr, a{
    margin: 0px;
    padding: 0px;
  }

  html{
    font-size: 1em;
    height: 100%;
  }
  
  body{
    height: 100%;
    width: 100%;
    position: relative;
    background: white;}
  
  
  header, section, footer > *{
    padding-right: 17.5%;
    padding-left: 17.5%;
  }
  
  @media screen and (max-width:1000px) {
    header, section, footer > *{
      padding-right: 10%;
      padding-left: 10%;
    }

    #logo {
        max-width: 170px !important; 
    }

    header nav {
        margin-top :40px !important;
    }
  }
  
  a{
      text-decoration: none;
      font-family: Calibri;
      font-weight: normal;
        font-size: 1em;
  }

  ul{
    list-style-type: none;
  }

  #logo{
    background: white;
    cursor: pointer;
    max-width: 400px; 
  }

  header{
    padding-top:30px;
    padding-bottom:30px;
  }

  header img{
    display: inline-block;
  }

  header nav{
    display: inline-block;
    vertical-align: top;
    margin-top :100px;
    float: right;
  }
  
  .horizontalList li{
    display: inline-block;
    list-style-type: none;
    padding-right:30px;
  }

  .horizontalList .last {
    padding-right: 0px !important; 
  } 
  
  .horizontalList .inactive a{
    color: #757575;
    padding: 5px 5px 5px 5px;

  }
  
  
  .horizontalList .inactive a:hover{
  color:#F29224;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  border:1px solid #F29224;
  }
  
  .horizontalList .active a{
    color: #F29224;
    font-weight: bold;
  }
  
  .borderButton{
    padding: 8px 40px 8px 40px;
    border-radius: 2px;
    border: 1px solid #fd1c2d;
    color: #fd1c2d;
    cursor: pointer;
  }
  
  .borderButton:hover{
    background-color: #fd1c2d;
    color:white;
  }
  
  .solidButton{
    padding: 9px 41px 9px 41px;
    border-radius: 2px;
    background: #F29224;
    color: white;
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
  }
  
  h1{
    color:#594C32;
    font-size: 3em;
    line-height: 45px;
    font-family: 'Exo', sans-serif;
    font-weight: 900;
  }
  h2{
    color: #594C32;
    font-size: 2em;
    font-family: 'Exo', sans-serif;
    font-weight: 100;
    margin-bottom:3px;
  }
  
  p{
    color: black;
    font-size: 1em;
    text-decoration: none;
    font-family: Calibri;
    font-weight: 300;
    display: inline-block;
    line-height: 23px;
  }
  
  section{
    padding-top:85px;
    padding-bottom:85px;
  }
  #plan{
    /* background-image: url("../assets/leaves.png"); */
    background-size:cover;
    background-color: #DEF4C6;
  }
  #plan div{
    display: inline-block;
  }
  #planText{
    margin-top:5%;
    max-width: 375px;
  }
  #planImage{
    float: right;
  }
  
  #planImage img{
      margin-top: 20%;
    width:100%;
    height:auto;
  }
  
  #plan p{
    margin-top: 26px;
  }
  #plan a{
    margin-top: 26px;
    display: inline-block;
  }
  
  #instructions{
    clear:both;
    
  }

  #instructions p {
      margin: 35px 0px 0px 0px;
      max-width: 70%;
   }

  #instructions a{
    margin-top: 26px;
    display: inline-block;
  }

  .graySection{
    background: #e8e8e8;
  }
  
  .yesno img {
    width: 49%;
    height: auto;
   
  }

  .no {
    display: inline-block;
  }



#why {
   background: #F29224; 
}  

#why div{
    display: inline-block;
    max-width: 45%;
  }

#why h2 {
    color: whitesmoke;

}

  #why p  {
      color: whitesmoke;
  vertical-align: top;
  margin-top: 35px;
  }
  #whygraphic{
   
    width: 45%
  }

  
  #why img{
width: 90%;
margin-left: 10%; 

  }
  strong{
    font-weight: bold;
  }
  
  .missionStatement h3 {
    font-family: 'Exo', sans-serif !important;
  }

  #credits{
    background-color: #27272a;
    padding-top:7px;
    padding-bottom:7px;
    text-align: center;
  }
  
  #credits p{
    font-size: 0.75em;
    color: whitesmoke;
  }
  
  #links{
    padding-top:45px;
    padding-bottom:45px;
    background-color: rgb(9, 49, 23);
  }
  
  #links > *{
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
  }
  
  #links p{
    color: #757575;
  }
  
  
  h3{
    color: white;
    font-size: 1.20em;
    font-family: Calibri;
    font-weight: 100;
    margin-bottom: 10px;
  }
  
  #fileTicket .solidButton{
    background-color: #fd1c2d;
  }
  
  #missionStatement{
    width:38%;
  }
  
  #footerNavigation .inactive a{
      color: #757575;
  }
  
  #footerNavigation .active a{
      color: white;
  }
  
  #footerNavigation .inactive a:hover{
      color: white;
  }
  
  .sticktobottom{
      position: absolute;
      bottom:0;
      left: 0;
      right:0;
  }
  form{
  width: 80%;
  margin-top: 30px;
  }
  
  form div{
  display: inline-block;
  margin-right: 32px;
  margin-top: 10px;
  }
  
  .mediumInput{
    width: 250px;
  }
  .smallInput{
  width:143px;
  }
  .largeInput{
  width:357px;
  }
  
  form h3{
    color: #16c0e8;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  textarea{
    width: 535px;
      padding: 10px 18px;
      margin: 8px 0;
       border: 1px solid #ccc;
       border-radius: 4px;
  }
  input[type=text]{
    padding: 10px 18px;
    margin: 8px 0;
     border: 1px solid #ccc;
     border-radius: 4px;
  }
  option{
    color: #757575;
    font-size: 1em;
    text-decoration: none;
    font-family: Calibri;
    font-weight: 300;
    display: inline-block;
  }
  select{
    padding: 10px 18px;
    margin: 8px 0;
     border: 1px solid #ccc;
     border-radius: 4px;
  }
  label{
    color: #757575;
    font-size: 1em;
    text-decoration: none;
    font-family: Calibri;
    font-weight: 300;
    display: inline-block;
  }
  form .solidButton{
    width:50px;
    margin-top: 35px;
  }
  input, label, textarea {
      display:block;
  }
  
  #how h3{
    margin-bottom: 3px;
    margin-top:35px;
    font-weight: bold;
  }
  
  #conclusion .solidButton{
    margin-top:18px;
    width: 210px;
  }
  .chart{
    margin-top:25px;
  }
  
  .chartLabel{
  font-style: italic;
  margin-bottom: 10px;
  }
  
  #sponserlogo{
    margin-bottom:30px;
  }
  
  #sponser .solidButton{
    margin-top:36px;
    width: 120px;
    background: #fd1c2d;
  }

  